//
@font-face {
  font-family: 'La Belle Aurore';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/LaBelleAurore/LaBelleAurore-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}
// /* cyrillic-ext */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 300;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format('woff2');
//   unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
// }
// /* cyrillic */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 300;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format('woff2');
//   unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
// }
// /* greek-ext */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 300;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format('woff2');
//   unicode-range: U+1F00-1FFF;
// }
// /* greek */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 300;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format('woff2');
//   unicode-range: U+0370-03FF;
// }
// /* vietnamese */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 300;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format('woff2');
//   unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
// }
// /* latin-ext */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 300;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format('woff2');
//   unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
// }
// /* latin */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 300;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
// }
// /* cyrillic-ext */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format('woff2');
//   unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
// }
// /* cyrillic */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format('woff2');
//   unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
// }
// /* greek-ext */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format('woff2');
//   unicode-range: U+1F00-1FFF;
// }
// /* greek */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format('woff2');
//   unicode-range: U+0370-03FF;
// }
// /* vietnamese */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format('woff2');
//   unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
// }
// /* latin-ext */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format('woff2');
//   unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
// }
// /* latin */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
// }
// /* cyrillic-ext */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 500;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format('woff2');
//   unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
// }
// /* cyrillic */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 500;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format('woff2');
//   unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
// }
// /* greek-ext */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 500;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format('woff2');
//   unicode-range: U+1F00-1FFF;
// }
// /* greek */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 500;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format('woff2');
//   unicode-range: U+0370-03FF;
// }
// /* vietnamese */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 500;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format('woff2');
//   unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
// }
// /* latin-ext */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 500;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format('woff2');
//   unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
// }
// /* latin */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 500;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
// }
// /* cyrillic-ext */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 600;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format('woff2');
//   unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
// }
// /* cyrillic */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 600;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format('woff2');
//   unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
// }
// /* greek-ext */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 600;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format('woff2');
//   unicode-range: U+1F00-1FFF;
// }
// /* greek */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 600;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format('woff2');
//   unicode-range: U+0370-03FF;
// }
// /* vietnamese */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 600;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format('woff2');
//   unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
// }
// /* latin-ext */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 600;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format('woff2');
//   unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
// }
// /* latin */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 600;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
// }
// /* cyrillic-ext */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 700;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format('woff2');
//   unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
// }
// /* cyrillic */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 700;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format('woff2');
//   unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
// }
// /* greek-ext */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 700;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format('woff2');
//   unicode-range: U+1F00-1FFF;
// }
// /* greek */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 700;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format('woff2');
//   unicode-range: U+0370-03FF;
// }
// /* vietnamese */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 700;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format('woff2');
//   unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
// }
// /* latin-ext */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 700;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format('woff2');
//   unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
// }
// /* latin */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 700;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
// }
// /* cyrillic-ext */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 800;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format('woff2');
//   unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
// }
// /* cyrillic */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 800;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format('woff2');
//   unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
// }
// /* greek-ext */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 800;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format('woff2');
//   unicode-range: U+1F00-1FFF;
// }
// /* greek */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 800;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format('woff2');
//   unicode-range: U+0370-03FF;
// }
// /* vietnamese */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 800;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format('woff2');
//   unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
// }
// /* latin-ext */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 800;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format('woff2');
//   unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
// }
// /* latin */
// @font-face {
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 800;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
// }

.wrapper {
  width: 100%;
  @include ltr-rtl('padding-left', var(--cui-sidebar-occupy-start, 0));
  will-change: auto;
  @include transition(padding 0.15s);
}
body,
html {
  margin: 0;
  padding: 0;
  background-color: #ebedf3;
  color: #3f4254;
  font-size: 13px !important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dropdown-menu {
  border: 1.5px solid #f1f1f1;
  padding: 10px 10px 10px 10px;
  box-shadow: 0 11px 20px rgb(64 67 86 / 12%);
  margin-top: 3px;
  width: auto;
  max-width: none;
  flex-flow: column;
  background: #fff;
  position: absolute;
  z-index: 99999;
  box-sizing: border-box;
  outline: none;
  line-height: normal;
  border-radius: 4px;

  .dropdown-item {
    border-radius: 4px;
    padding: 10px 10px;
    list-style: none;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    background: #fff;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    flex: 1 0 auto;
    outline: none;

    &:hover {
      background: #f3f3f7;
    }
    &:focus {
      color: #333;
    }
  }
}
.pt-6 {
  padding-top: 24px !important;
}
.callout-danger {
  .cstUl {
    color: #ff0000;
  }
}
.cstUl {
  margin: 0px;
  padding: 0px;
  padding-left: 2rem;
}
.text-right {
  text-align: right !important;
}
.react-datepicker__input-time-container {
  .react-datepicker-time__caption {
    font-size: 13px;
    font-weight: bold;
  }
  .react-datepicker-time__input-container .react-datepicker-time__input input {
    width: 128px;
  }
}
.font-weight-bold {
  font-weight: 500 !important;
}
.table.table-vertical-center td,
.table.table-vertical-center th {
  vertical-align: middle;
}
.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.navi {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;

  .navi-item {
    padding: 0;
    display: block;
    list-style: none;

    .navi-link {
      display: flex;
      align-items: center;
      padding: 0.75rem 1.5rem;
      padding-left: 8px;

      .navi-icon {
        line-height: 0;
        flex-shrink: 0;
      }

      .navi-icon:before {
        line-height: 0;
      }

      .navi-bullet {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin-right: 0.75rem;
      }

      .navi-text {
        flex-grow: 1;
      }

      .navi-label {
        line-height: 0;
        margin-left: 0.75rem;
      }

      .navi-toolbar {
        margin-left: 0.75rem;
      }

      .navi-arrow {
        line-height: 0;
        margin-left: 0.75rem;
        color: #7e8299;
      }

      .navi-arrow:before {
        line-height: 0;
        font-family: Ki;
        font-style: normal;
        font-weight: 400;
        font-feature-settings: normal;
        font-variant: normal;
        line-height: 1;
        text-decoration: inherit;
        text-rendering: optimizeLegibility;
        text-transform: none;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        content: 'ï„…';
        font-size: 0.6rem;
      }

      .navi-arrow.navi-arrow-down {
        transform: rotate(-90deg);
      }
    }
  }
}

// dddddddddddddddddddddddd

[direction='rtl'] .navi .navi-item .navi-link .navi-arrow.navi-arrow-down {
  transform: rotate(90deg);
}

.navi .navi-item:last-child,
.navi .navi-item:last-child .navi-link {
  border-bottom: 0 !important;
}

.navi .navi-separator {
  margin: 0;
  padding: 0;
  height: 0;
  display: block;
  border-bottom: 1px solid #ebedf3;
}

.navi .navi-separator.navi-separator-dashed {
  border-bottom: 1px dashed #ebedf3;
}

.navi .navi-footer,
.navi .navi-header,
.navi .navi-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navi .navi-footer,
.navi .navi-header,
.navi .navi-section {
  padding: 0.75rem 1.5rem;
}

.navi.navi-spacer-x-0 .navi-item .navi-link {
  padding-left: 0;
  padding-right: 0;
}

.navi .navi-item .navi-link .navi-icon {
  flex: 0 0 2rem;
  margin-right: 0.75rem;
}

.navi .navi-item .navi-link .navi-icon i {
  font-size: 1.25rem;
}

.navi .navi-item .navi-link .navi-icon svg {
  height: 22px;
  width: 22px;
}

.navi.navi-icon-lg .navi-item .navi-link .navi-icon {
  flex: 0 0 3rem;
}

.navi.navi-icon-lg .navi-item .navi-link .navi-icon i {
  font-size: 1.5rem;
}

.navi.navi-icon-lg .navi-item .navi-link .navi-icon svg {
  height: 28px;
  width: 28px;
}

.navi.navi-icon-xl .navi-item .navi-link .navi-icon {
  flex: 0 0 4rem;
}

.navi.navi-icon-xl .navi-item .navi-link .navi-icon i {
  font-size: 1.75rem;
}

.navi.navi-icon-xl .navi-item .navi-link .navi-icon svg {
  height: 32px;
  width: 32px;
}

.navi.navi-icon-center .navi-item .navi-link .navi-icon {
  text-align: center;
}

.navi .navi-item .navi-link,
.navi .navi-item .navi-link .navi-text {
  font-size: 1rem;
}

.navi.navi-font-lg .navi-item .navi-link,
.navi.navi-font-lg .navi-item .navi-link .navi-text {
  font-size: 1.1rem;
}

.navi.navi-font-xl .navi-item .navi-link,
.navi.navi-font-xl .navi-item .navi-link .navi-text {
  font-size: 1.2rem;
}

.navi.navi-light .navi-item .navi-link .navi-text {
  font-weight: 300;
}

.navi.navi-lighter .navi-item .navi-link .navi-text {
  font-weight: lighter;
}

.navi.navi-bold .navi-item .navi-link .navi-text {
  font-weight: 500;
}

.navi.navi-bolder .navi-item .navi-link .navi-text {
  font-weight: 600;
}

.navi.navi-boldest .navi-item .navi-link .navi-text {
  font-weight: 700;
}

.navi .navi-item .navi-link {
  transition: all 0.15s ease;
  color: #3f4254;
}

.navi .navi-item .navi-link .navi-bullet .bullet,
.navi .navi-item .navi-link .navi-icon,
.navi .navi-item .navi-link .navi-icon i,
.navi .navi-item .navi-link .navi-text {
  transition: all 0.15s ease;
}

.navi .navi-item .navi-link .navi-icon .svg-icon svg g [fill] {
  transition: fill 0.3s ease;
}

.navi .navi-item .navi-link .navi-arrow {
  transition: all 0.15s ease;
}

.navi .navi-item .navi-link .navi-bullet .bullet {
  background-color: #e4e6ef;
}

.navi .navi-item .navi-link .navi-text {
  color: #3f4254;
}

.navi .navi-item .navi-link .navi-icon i {
  color: #b5b5c3;
}

.navi .navi-item .navi-link .navi-icon svg g [fill] {
  transition: fill 0.3s ease;
  fill: #b5b5c3;
}

.navi .navi-item .navi-link .navi-icon svg:hover g [fill] {
  transition: fill 0.3s ease;
}

.navi .navi-item .navi-link .navi-arrow {
  color: #b5b5c3;
}

.navi .navi-item .navi-link.disabled {
  opacity: 0.6;
}

.navi .navi-item .navi-link:hover {
  transition: all 0.15s ease;
  color: #321fdb;
  background-color: #3699ff33 !important;
}

.navi .navi-item .navi-link:hover .navi-bullet .bullet,
.navi .navi-item .navi-link:hover .navi-icon,
.navi .navi-item .navi-link:hover .navi-icon i,
.navi .navi-item .navi-link:hover .navi-text {
  transition: all 0.15s ease;
}

.navi .navi-item .navi-link:hover .navi-icon .svg-icon svg g [fill] {
  transition: fill 0.3s ease;
}

.navi .navi-item .navi-link:hover .navi-arrow {
  transition: all 0.15s ease;
}

.navi .navi-item .navi-link:hover .navi-bullet .bullet {
  background-color: #321fdb;
}

.navi .navi-item .navi-link:hover .navi-icon i,
.navi .navi-item .navi-link:hover .navi-text {
  color: #321fdb;
}

.navi .navi-item .navi-link:hover .navi-icon svg g [fill] {
  transition: fill 0.3s ease;
  fill: #321fdb;
}

.navi .navi-item .navi-link:hover .navi-icon svg:hover g [fill] {
  transition: fill 0.3s ease;
}

.navi .navi-item .navi-link:hover .navi-arrow {
  color: #321fdb;
}

.navi .navi-item .navi-link.active {
  transition: all 0.15s ease;
  color: #321fdb;
}

.navi .navi-item .navi-link.active .navi-bullet .bullet,
.navi .navi-item .navi-link.active .navi-icon,
.navi .navi-item .navi-link.active .navi-icon i,
.navi .navi-item .navi-link.active .navi-text {
  transition: all 0.15s ease;
}

.navi .navi-item .navi-link.active .navi-icon .svg-icon svg g [fill] {
  transition: fill 0.3s ease;
}

.navi .navi-item .navi-link.active .navi-arrow {
  transition: all 0.15s ease;
}

.navi .navi-item .navi-link.active .navi-bullet .bullet {
  background-color: #321fdb;
}

.navi .navi-item .navi-link.active .navi-icon i,
.navi .navi-item .navi-link.active .navi-text {
  color: #321fdb;
}

.navi .navi-item .navi-link.active .navi-icon svg g [fill] {
  transition: fill 0.3s ease;
  fill: #321fdb;
}

.navi .navi-item .navi-link.active .navi-icon svg:hover g [fill] {
  transition: fill 0.3s ease;
}

.navi .navi-item .navi-link.active .navi-arrow {
  color: #321fdb;
}

.navi.navi-light-icon .navi-item .navi-link {
  transition: all 0.15s ease;
  color: #3f4254;
}

.navi.navi-light-icon .navi-item .navi-link .navi-bullet .bullet,
.navi.navi-light-icon .navi-item .navi-link .navi-icon,
.navi.navi-light-icon .navi-item .navi-link .navi-icon i,
.navi.navi-light-icon .navi-item .navi-link .navi-text {
  transition: all 0.15s ease;
}

.navi.navi-light-icon .navi-item .navi-link .navi-icon .svg-icon svg g [fill] {
  transition: fill 0.3s ease;
}

.navi.navi-light-icon .navi-item .navi-link .navi-arrow {
  transition: all 0.15s ease;
}

.navi.navi-light-icon .navi-item .navi-link .navi-bullet .bullet {
  background-color: #e4e6ef;
}

.navi.navi-light-icon .navi-item .navi-link .navi-text {
  color: #3f4254;
}

.navi.navi-light-icon .navi-item .navi-link .navi-icon i {
  color: #d1d3e0;
}

.navi.navi-light-icon .navi-item .navi-link .navi-icon svg g [fill] {
  transition: fill 0.3s ease;
  fill: #d1d3e0;
}

.navi.navi-light-icon .navi-item .navi-link .navi-icon svg:hover g [fill] {
  transition: fill 0.3s ease;
}

.navi.navi-light-icon .navi-item .navi-link .navi-arrow {
  color: #b5b5c3;
}

.navi.navi-light-icon .navi-item .navi-link.disabled {
  opacity: 0.6;
}

.navi.navi-light-icon .navi-item .navi-link:hover {
  transition: all 0.15s ease;
  color: #321fdb;
}

.navi.navi-light-icon .navi-item .navi-link:hover .navi-bullet .bullet,
.navi.navi-light-icon .navi-item .navi-link:hover .navi-icon,
.navi.navi-light-icon .navi-item .navi-link:hover .navi-icon i,
.navi.navi-light-icon .navi-item .navi-link:hover .navi-text {
  transition: all 0.15s ease;
}

.navi.navi-light-icon .navi-item .navi-link:hover .navi-icon .svg-icon svg g [fill] {
  transition: fill 0.3s ease;
}

.navi.navi-light-icon .navi-item .navi-link:hover .navi-arrow {
  transition: all 0.15s ease;
}

.navi.navi-light-icon .navi-item .navi-link:hover .navi-bullet .bullet {
  background-color: #321fdb;
}

.navi.navi-light-icon .navi-item .navi-link:hover .navi-icon i,
.navi.navi-light-icon .navi-item .navi-link:hover .navi-text {
  color: #321fdb;
}

.navi.navi-light-icon .navi-item .navi-link:hover .navi-icon svg g [fill] {
  transition: fill 0.3s ease;
  fill: #321fdb;
}

.navi.navi-light-icon .navi-item .navi-link:hover .navi-icon svg:hover g [fill] {
  transition: fill 0.3s ease;
}

.navi.navi-light-icon .navi-item .navi-link:hover .navi-arrow {
  color: #321fdb;
}

.navi.navi-light-icon .navi-item .navi-link.active {
  transition: all 0.15s ease;
  color: #321fdb;
}

.navi.navi-light-icon .navi-item .navi-link.active .navi-bullet .bullet,
.navi.navi-light-icon .navi-item .navi-link.active .navi-icon,
.navi.navi-light-icon .navi-item .navi-link.active .navi-icon i,
.navi.navi-light-icon .navi-item .navi-link.active .navi-text {
  transition: all 0.15s ease;
}

.navi.navi-light-icon .navi-item .navi-link.active .navi-icon .svg-icon svg g [fill] {
  transition: fill 0.3s ease;
}

.navi.navi-light-icon .navi-item .navi-link.active .navi-arrow {
  transition: all 0.15s ease;
}

.navi.navi-light-icon .navi-item .navi-link.active .navi-bullet .bullet {
  background-color: #321fdb;
}

.navi.navi-light-icon .navi-item .navi-link.active .navi-icon i,
.navi.navi-light-icon .navi-item .navi-link.active .navi-text {
  color: #321fdb;
}

.navi.navi-light-icon .navi-item .navi-link.active .navi-icon svg g [fill] {
  transition: fill 0.3s ease;
  fill: #321fdb;
}

.navi.navi-light-icon .navi-item .navi-link.active .navi-icon svg:hover g [fill] {
  transition: fill 0.3s ease;
}

.navi.navi-light-icon .navi-item .navi-link.active .navi-arrow {
  color: #321fdb;
}

.navi.navi-border .navi-item .navi-link {
  border-bottom: 1px solid #ebedf3;
}

.navi.navi-link-rounded .navi-item .navi-link {
  border-radius: 0.42rem;
}

.navi.navi-link-rounded-lg .navi-item .navi-link {
  border-radius: 0.85rem;
}

.navi.navi-active .navi-item .navi-link.active,
.navi.navi-hover .navi-item .navi-link:hover {
  background-color: #f3f6f9;
}

.navi.navi-accent .navi-item .navi-link {
  position: relative;
}

.navi.navi-accent .navi-item .navi-link:before {
  display: block;
  left: 0;
  top: 8px;
  bottom: 8px;
  position: absolute;
  width: 4px;
  background-color: transparent;
  transition: all 0.15s ease;
  border-radius: 2px;
  content: ' ';
}

.navi.navi-accent .navi-item .navi-link.active:before {
  background-color: #321fdb;
  transition: all 0.15s ease;
}

.navi.navi-accent.navi-primary .navi-item .navi-link:hover,
.navi.navi-accent.navi-primary .navi-item .navi-link:hover .navi-icon i,
.navi.navi-accent.navi-primary .navi-item .navi-link:hover .navi-text {
  color: #321fdb;
}

.navi.navi-accent.navi-primary .navi-item .navi-link:hover .navi-icon svg g [fill] {
  transition: fill 0.3s ease;
  fill: #321fdb;
}

.navi.navi-accent.navi-primary .navi-item .navi-link:hover .navi-icon svg:hover g [fill] {
  transition: fill 0.3s ease;
}

.navi.navi-accent.navi-primary .navi-item .navi-link.active,
.navi.navi-accent.navi-primary .navi-item .navi-link.active .navi-icon i,
.navi.navi-accent.navi-primary .navi-item .navi-link.active .navi-text,
.navi.navi-accent.navi-primary .navi-item .navi-link:hover .navi-arrow {
  color: #321fdb;
}

.navi.navi-accent.navi-primary .navi-item .navi-link.active .navi-icon svg g [fill] {
  transition: fill 0.3s ease;
  fill: #321fdb;
}

.navi.navi-accent.navi-primary .navi-item .navi-link.active .navi-icon svg:hover g [fill] {
  transition: fill 0.3s ease;
}

.navi.navi-accent.navi-primary .navi-item .navi-link.active .navi-arrow {
  color: #321fdb;
}

.navi.navi-accent.navi-primary .navi-item .navi-link.active:before {
  background-color: #321fdb;
}

.navi.navi-accent.navi-secondary .navi-item .navi-link:hover,
.navi.navi-accent.navi-secondary .navi-item .navi-link:hover .navi-icon i,
.navi.navi-accent.navi-secondary .navi-item .navi-link:hover .navi-text {
  color: #e4e6ef;
}

.navi.navi-accent.navi-secondary .navi-item .navi-link:hover .navi-icon svg g [fill] {
  transition: fill 0.3s ease;
  fill: #e4e6ef;
}

.navi.navi-accent.navi-secondary .navi-item .navi-link:hover .navi-icon svg:hover g [fill] {
  transition: fill 0.3s ease;
}

.navi.navi-accent.navi-secondary .navi-item .navi-link.active,
.navi.navi-accent.navi-secondary .navi-item .navi-link.active .navi-icon i,
.navi.navi-accent.navi-secondary .navi-item .navi-link.active .navi-text,
.navi.navi-accent.navi-secondary .navi-item .navi-link:hover .navi-arrow {
  color: #e4e6ef;
}

.navi.navi-accent.navi-secondary .navi-item .navi-link.active .navi-icon svg g [fill] {
  transition: fill 0.3s ease;
  fill: #e4e6ef;
}

.navi.navi-accent.navi-secondary .navi-item .navi-link.active .navi-icon svg:hover g [fill] {
  transition: fill 0.3s ease;
}

.navi.navi-accent.navi-secondary .navi-item .navi-link.active .navi-arrow {
  color: #e4e6ef;
}

.navi.navi-accent.navi-secondary .navi-item .navi-link.active:before {
  background-color: #e4e6ef;
}

.navi.navi-accent.navi-success .navi-item .navi-link:hover,
.navi.navi-accent.navi-success .navi-item .navi-link:hover .navi-icon i,
.navi.navi-accent.navi-success .navi-item .navi-link:hover .navi-text {
  color: #1bc5bd;
}

.navi.navi-accent.navi-success .navi-item .navi-link:hover .navi-icon svg g [fill] {
  transition: fill 0.3s ease;
  fill: #1bc5bd;
}

.navi.navi-accent.navi-success .navi-item .navi-link:hover .navi-icon svg:hover g [fill] {
  transition: fill 0.3s ease;
}

.navi.navi-accent.navi-success .navi-item .navi-link.active,
.navi.navi-accent.navi-success .navi-item .navi-link.active .navi-icon i,
.navi.navi-accent.navi-success .navi-item .navi-link.active .navi-text,
.navi.navi-accent.navi-success .navi-item .navi-link:hover .navi-arrow {
  color: #1bc5bd;
}

.navi.navi-accent.navi-success .navi-item .navi-link.active .navi-icon svg g [fill] {
  transition: fill 0.3s ease;
  fill: #1bc5bd;
}

.navi.navi-accent.navi-success .navi-item .navi-link.active .navi-icon svg:hover g [fill] {
  transition: fill 0.3s ease;
}

.navi.navi-accent.navi-success .navi-item .navi-link.active .navi-arrow {
  color: #1bc5bd;
}

.navi.navi-accent.navi-success .navi-item .navi-link.active:before {
  background-color: #1bc5bd;
}

.navi.navi-accent.navi-info .navi-item .navi-link:hover,
.navi.navi-accent.navi-info .navi-item .navi-link:hover .navi-icon i,
.navi.navi-accent.navi-info .navi-item .navi-link:hover .navi-text {
  color: #8950fc;
}

.navi.navi-accent.navi-info .navi-item .navi-link:hover .navi-icon svg g [fill] {
  transition: fill 0.3s ease;
  fill: #8950fc;
}

.navi.navi-accent.navi-info .navi-item .navi-link:hover .navi-icon svg:hover g [fill] {
  transition: fill 0.3s ease;
}

.navi.navi-accent.navi-info .navi-item .navi-link.active,
.navi.navi-accent.navi-info .navi-item .navi-link.active .navi-icon i,
.navi.navi-accent.navi-info .navi-item .navi-link.active .navi-text,
.navi.navi-accent.navi-info .navi-item .navi-link:hover .navi-arrow {
  color: #8950fc;
}

.navi.navi-accent.navi-info .navi-item .navi-link.active .navi-icon svg g [fill] {
  transition: fill 0.3s ease;
  fill: #8950fc;
}

.navi.navi-accent.navi-info .navi-item .navi-link.active .navi-icon svg:hover g [fill] {
  transition: fill 0.3s ease;
}

.navi.navi-accent.navi-info .navi-item .navi-link.active .navi-arrow {
  color: #8950fc;
}

.navi.navi-accent.navi-info .navi-item .navi-link.active:before {
  background-color: #8950fc;
}

.navi.navi-accent.navi-warning .navi-item .navi-link:hover,
.navi.navi-accent.navi-warning .navi-item .navi-link:hover .navi-icon i,
.navi.navi-accent.navi-warning .navi-item .navi-link:hover .navi-text {
  color: #ffa800;
}

.navi.navi-accent.navi-warning .navi-item .navi-link:hover .navi-icon svg g [fill] {
  transition: fill 0.3s ease;
  fill: #ffa800;
}

.navi.navi-accent.navi-warning .navi-item .navi-link:hover .navi-icon svg:hover g [fill] {
  transition: fill 0.3s ease;
}

.navi.navi-accent.navi-warning .navi-item .navi-link.active,
.navi.navi-accent.navi-warning .navi-item .navi-link.active .navi-icon i,
.navi.navi-accent.navi-warning .navi-item .navi-link.active .navi-text,
.navi.navi-accent.navi-warning .navi-item .navi-link:hover .navi-arrow {
  color: #ffa800;
}

.navi.navi-accent.navi-warning .navi-item .navi-link.active .navi-icon svg g [fill] {
  transition: fill 0.3s ease;
  fill: #ffa800;
}

.navi.navi-accent.navi-warning .navi-item .navi-link.active .navi-icon svg:hover g [fill] {
  transition: fill 0.3s ease;
}

.navi.navi-accent.navi-warning .navi-item .navi-link.active .navi-arrow {
  color: #ffa800;
}

.navi.navi-accent.navi-warning .navi-item .navi-link.active:before {
  background-color: #ffa800;
}

.navi.navi-accent.navi-danger .navi-item .navi-link:hover,
.navi.navi-accent.navi-danger .navi-item .navi-link:hover .navi-icon i,
.navi.navi-accent.navi-danger .navi-item .navi-link:hover .navi-text {
  color: #f64e60;
}

.navi.navi-accent.navi-danger .navi-item .navi-link:hover .navi-icon svg g [fill] {
  transition: fill 0.3s ease;
  fill: #f64e60;
}

.navi.navi-accent.navi-danger .navi-item .navi-link:hover .navi-icon svg:hover g [fill] {
  transition: fill 0.3s ease;
}

.navi.navi-accent.navi-danger .navi-item .navi-link.active,
.navi.navi-accent.navi-danger .navi-item .navi-link.active .navi-icon i,
.navi.navi-accent.navi-danger .navi-item .navi-link.active .navi-text,
.navi.navi-accent.navi-danger .navi-item .navi-link:hover .navi-arrow {
  color: #f64e60;
}

.navi.navi-accent.navi-danger .navi-item .navi-link.active .navi-icon svg g [fill] {
  transition: fill 0.3s ease;
  fill: #f64e60;
}

.navi.navi-accent.navi-danger .navi-item .navi-link.active .navi-icon svg:hover g [fill] {
  transition: fill 0.3s ease;
}

.navi.navi-accent.navi-danger .navi-item .navi-link.active .navi-arrow {
  color: #f64e60;
}

.navi.navi-accent.navi-danger .navi-item .navi-link.active:before {
  background-color: #f64e60;
}

.navi.navi-accent.navi-light .navi-item .navi-link:hover,
.navi.navi-accent.navi-light .navi-item .navi-link:hover .navi-icon i,
.navi.navi-accent.navi-light .navi-item .navi-link:hover .navi-text {
  color: #f3f6f9;
}

.navi.navi-accent.navi-light .navi-item .navi-link:hover .navi-icon svg g [fill] {
  transition: fill 0.3s ease;
  fill: #f3f6f9;
}

.navi.navi-accent.navi-light .navi-item .navi-link:hover .navi-icon svg:hover g [fill] {
  transition: fill 0.3s ease;
}

.navi.navi-accent.navi-light .navi-item .navi-link.active,
.navi.navi-accent.navi-light .navi-item .navi-link.active .navi-icon i,
.navi.navi-accent.navi-light .navi-item .navi-link.active .navi-text,
.navi.navi-accent.navi-light .navi-item .navi-link:hover .navi-arrow {
  color: #f3f6f9;
}

.navi.navi-accent.navi-light .navi-item .navi-link.active .navi-icon svg g [fill] {
  transition: fill 0.3s ease;
  fill: #f3f6f9;
}

.navi.navi-accent.navi-light .navi-item .navi-link.active .navi-icon svg:hover g [fill] {
  transition: fill 0.3s ease;
}

.navi.navi-accent.navi-light .navi-item .navi-link.active .navi-arrow {
  color: #f3f6f9;
}

.navi.navi-accent.navi-light .navi-item .navi-link.active:before {
  background-color: #f3f6f9;
}

.navi.navi-accent.navi-dark .navi-item .navi-link:hover,
.navi.navi-accent.navi-dark .navi-item .navi-link:hover .navi-icon i,
.navi.navi-accent.navi-dark .navi-item .navi-link:hover .navi-text {
  color: #181c32;
}

.navi.navi-accent.navi-dark .navi-item .navi-link:hover .navi-icon svg g [fill] {
  transition: fill 0.3s ease;
  fill: #181c32;
}

.navi.navi-accent.navi-dark .navi-item .navi-link:hover .navi-icon svg:hover g [fill] {
  transition: fill 0.3s ease;
}

.navi.navi-accent.navi-dark .navi-item .navi-link.active,
.navi.navi-accent.navi-dark .navi-item .navi-link.active .navi-icon i,
.navi.navi-accent.navi-dark .navi-item .navi-link.active .navi-text,
.navi.navi-accent.navi-dark .navi-item .navi-link:hover .navi-arrow {
  color: #181c32;
}

.navi.navi-accent.navi-dark .navi-item .navi-link.active .navi-icon svg g [fill] {
  transition: fill 0.3s ease;
  fill: #181c32;
}

.navi.navi-accent.navi-dark .navi-item .navi-link.active .navi-icon svg:hover g [fill] {
  transition: fill 0.3s ease;
}

.navi.navi-accent.navi-dark .navi-item .navi-link.active .navi-arrow {
  color: #181c32;
}

.navi.navi-accent.navi-dark .navi-item .navi-link.active:before {
  background-color: #181c32;
}

.navi.navi-accent.navi-white .navi-item .navi-link:hover,
.navi.navi-accent.navi-white .navi-item .navi-link:hover .navi-icon i,
.navi.navi-accent.navi-white .navi-item .navi-link:hover .navi-text {
  color: #fff;
}

.navi.navi-accent.navi-white .navi-item .navi-link:hover .navi-icon svg g [fill] {
  transition: fill 0.3s ease;
  fill: #fff;
}

.navi.navi-accent.navi-white .navi-item .navi-link:hover .navi-icon svg:hover g [fill] {
  transition: fill 0.3s ease;
}

.navi.navi-accent.navi-white .navi-item .navi-link.active,
.navi.navi-accent.navi-white .navi-item .navi-link.active .navi-icon i,
.navi.navi-accent.navi-white .navi-item .navi-link.active .navi-text,
.navi.navi-accent.navi-white .navi-item .navi-link:hover .navi-arrow {
  color: #fff;
}

.navi.navi-accent.navi-white .navi-item .navi-link.active .navi-icon svg g [fill] {
  transition: fill 0.3s ease;
  fill: #fff;
}

.navi.navi-accent.navi-white .navi-item .navi-link.active .navi-icon svg:hover g [fill] {
  transition: fill 0.3s ease;
}

.navi.navi-accent.navi-white .navi-item .navi-link.active .navi-arrow {
  color: #fff;
}

.navi.navi-accent.navi-white .navi-item .navi-link.active:before {
  background-color: #fff;
}
.badge {
  display: inline-block;
  padding: 0.5em 0.75em;
  font-size: 85%;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.42rem;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.badge-default {
  color: #3f4254;
}

.badge-warning {
  color: #181c32;
  background-color: #ffa800;
}
.table.table-vertical-center td,
.table.table-vertical-center th {
  vertical-align: middle;
}
.table tfoot tr td {
  border: none;
}
a,
button {
  outline: 0 !important;
}
a,
a:hover {
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease,
    box-shadow 0.15s ease;
}
.mr-3,
.mx-3 {
  margin-right: 0.75rem !important;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.sidebar-nav .nav-link {
  font-weight: 600 !important;
}
.linkDropdown {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.avatar-clause {
  height: 30px;
  width: 30px;
}
.settings-menu-container .isTable {
  height: calc(100vh - 2rem) !important;
}
.fa-3x {
  font-size: 3em;
}
.b-shadow {
  box-shadow: none !important;
}
.input-group-text {
  min-height: 31.25px;
  border: 'none';
  border-radius: 0px;
}
.btn-drop-rounded {
  border-bottom-right-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
}
.text-confirmed {
  color: var(--cui-success) !important;
}
.dashTitle {
  font-size: 1.175rem;
  color: #181c32;
  margin: 0;
}
.redirect-link {
  color: #321fdb;

  &:hover,
  &:focus {
    color: #000;
    text-decoration: underline;
  }
}
.dashboard-btn-group {
  .btn.btn-icon {
    height: calc(1.5em + 1.3rem + 2px);
    width: calc(1.5em + 1.3rem + 2px);
  }
  .btn.btn-pill {
    border-radius: 2rem !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
}
.profile-link {
  &:hover {
    text-decoration: underline;
  }
}

.text-heading {
  font-size: 1.35rem;
  color: #fff;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 1rem;
}
.symbol-wrap {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  border-radius: 0.42rem;
}
.symbol-wrap.s-40 > img {
  width: 100%;
  max-width: 40px;
  height: 40px;
  display: flex;
  border-radius: 0.42rem;
  object-fit: cover;
  vertical-align: middle;
}

.list-group.nav-tickets,
.list-group.nav-rlg {
  border: none !important;

  .list-group-item {
    border: none !important;
    width: 100%;
    padding: 0px;

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.75rem 0.5rem;
      color: #7e8299;

      &.active {
        color: var(--cui-primary);
        background-color: transparent;
      }

      &:hover {
        color: var(--cui-primary);
        background-color: transparent;
      }

      .nav-icon {
        font-size: 1rem;
      }

      .trancate {
        margin-right: 0.5rem;
      }
    }

    .rlg-link.disabled {
      cursor: text;
      color: #7e8299 !important;

      &:hover {
        color: #7e8299 !important;
        background-color: transparent;
      }
    }
  }
}

.tickets-menu-container {
  .tab-content {
    height: calc(100vh - 15rem);
  }
  .no-results {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;

    .no-results-text {
      margin-top: 1.5rem;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      display: flex;

      .no-results-title {
        font-size: 1.25rem;
        color: #181c32;
        text-align: center;
        margin-bottom: 0.75rem;
      }
    }
  }
}

.tblh-r {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
}
.text-light {
  color: #7e8299 !important;
}
.text-dark-g {
  color: #3f4254 !important;
}
.ml-3,
.mx-3 {
  margin-left: 0.75rem !important;
}
.fs-h4 {
  font-size: 1.35rem !important;
}
.badge-secondary {
  color: #181c32;
  background-color: #e4e6ef;
}
.f-15 {
  font-size: 15px !important;
}
//noty theme
.noty_theme__nest.noty_type__success {
  background-color: #2eb85c !important;
  color: #fff;
}
.noty_theme__nest.noty_type__error {
  background-color: #fff;
  color: #3f4254;
  border: 1px solid #0000001a;

  .btn-default {
    text-transform: uppercase;
    float: right !important;
  }
}
#error-top.noty_theme__nest.noty_type__error {
  color: #e55353;
}
.btn i {
  font-size: 1.3rem;
  padding-right: 0.35rem;
  vertical-align: middle;
  line-height: 1;
  display: inline-flex;
}
.company-title {
  .menu-link {
    border-radius: 4px;
    padding: 0.65rem 1.1rem;
    padding-left: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    position: relative;
    vertical-align: middle;
    align-items: stretch;
    outline: none !important;
    text-decoration: none;
    background-color: #fff;
    border-color: #fff;
    font-weight: 600;
    color: #3f4254 !important;

    .menu-text {
      font-size: 1rem;
      text-transform: none;
      display: flex;
      align-items: center;
      flex-grow: 1;
      padding: 0;
      color: #3f4254;
      font-weight: 600;
    }
  }
}
.icon-sm {
  font-size: 0.75rem !important;
}
.btn.btn-hover-secondary.focus:not(.btn-text),
.btn.btn-hover-secondary:focus:not(.btn-text),
.btn.btn-hover-secondary:hover:not(.btn-text):not(:disabled):not(.disabled) {
  color: #3f4254 !important;
  background-color: #e4e6ef !important;
  border-color: #e4e6ef !important;
}
// .table-truncate .table td,
// .table-truncate .table th {
//   padding: 0.3rem;
// }
// .only-table-truncate .table td,
// .only-table-truncate .table th,
// .table-truncate .table td,
// .table-truncate .table th {
//   overflow: hidden;
//   white-space: nowrap;
//   text-overflow: ellipsis;
//   max-width: 250px;
// }
.max-w-200px {
  max-width: 200px !important;
}
.max-w-100px {
  max-width: 100px !important;
}
.label {
  padding: 0;
  margin: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ebedf3;
  color: #3f4254;
  font-weight: 400;
  height: 20px;
  width: 20px;
  font-size: 0.8rem;

  &.label-primary {
    color: #fff;
    background-color: #321fdb;
  }
  &.label-outline-primary {
    background-color: transparent;
    color: #321fdb;
    border: 1px solid #321fdb;
  }
  &.label-outline-primary.label-outline-2x {
    border: 2px solid #321fdb;
  }
  &.label-light-primary {
    color: #321fdb;
    background-color: #e1f0ff;
  }

  &.label-secondary {
    color: #3f4254;
    background-color: #e4e6ef;
  }
  &.label-outline-secondary {
    background-color: transparent;
    color: #3f4254;
    border: 1px solid #e4e6ef;
  }
  &.label-outline-secondary.label-outline-2x {
    border: 2px solid #e4e6ef;
  }
  &.label-success {
    color: #fff;
    background-color: #1bc5bd;
  }
  &.label-outline-success {
    background-color: transparent;
    color: #1bc5bd;
    border: 1px solid #1bc5bd;
  }
  &.label-outline-success.label-outline-2x {
    border: 2px solid #1bc5bd;
  }
  &.label-light-success {
    color: #1bc5bd;
    background-color: #c9f7f5;
  }
  &.label-info {
    color: #fff;
    background-color: #8950fc;
  }
  &.label-outline-info {
    background-color: transparent;
    color: #8950fc;
    border: 1px solid #8950fc;
  }
  &.label-outline-info.label-outline-2x {
    border: 2px solid #8950fc;
  }
  &.label-light-info {
    color: #8950fc;
    background-color: #eee5ff;
  }
  &.label-warning {
    color: #fff;
    background-color: #ffa800;
  }
  &.label-light-secondary {
    color: #e4e6ef;
    background-color: #ebedf3;
  }
}
.label.label-inline {
  padding: 0.15rem 0.75rem;
  border-radius: 0.42rem;
  width: auto;
}

.label.label-outline-warning {
  background-color: transparent;
  color: #ffa800;
  border: 1px solid #ffa800;
}

.label.label-outline-warning.label-outline-2x {
  border: 2px solid #ffa800;
}

.label.label-light-warning {
  color: #ffa800;
  background-color: #fff4de;
}

.label.label-danger {
  color: #fff;
  background-color: #f64e60;
}

.label.label-outline-danger {
  background-color: transparent;
  color: #f64e60;
  border: 1px solid #f64e60;
}

.label.label-outline-danger.label-outline-2x {
  border: 2px solid #f64e60;
}

.label.label-light-danger {
  color: #f64e60;
  background-color: #ffe2e5;
}

.label.label-light {
  color: #7e8299;
  background-color: #f3f6f9;
}

.label.label-outline-light {
  background-color: transparent;
  color: #3f4254;
  border: 1px solid #f3f6f9;
}

.label.label-outline-light.label-outline-2x {
  border: 2px solid #f3f6f9;
}

.label.label-light-light {
  color: #f3f6f9;
  background-color: #f3f6f9;
}

.label.label-dark {
  color: #fff;
  background-color: #181c32;
}

.label.label-outline-dark {
  background-color: transparent;
  color: #181c32;
  border: 1px solid #181c32;
}

.label.label-outline-dark.label-outline-2x {
  border: 2px solid #181c32;
}

.label.label-light-dark {
  color: #181c32;
  background-color: #d1d3e0;
}

.label.label-white {
  color: #3f4254;
  background-color: #fff;
}

.label.label-outline-white {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.label.label-outline-white.label-outline-2x {
  border: 2px solid #fff;
}

.label.label-light-white {
  color: #fff;
  background-color: #fff;
}

.label.label-inline {
  padding: 0.15rem 0.75rem;
  border-radius: 0.42rem;
}

.label.label-inline.label-md {
  padding: 0.8rem 0.6rem;
}

.label.label-inline.label-lg {
  padding: 0.9rem 0.75rem;
}

.label.label-inline.label-xl {
  padding: 1rem 0.85rem;
}

.label.label-pill {
  border-radius: none;
}

.label.label-rounded {
  border-radius: 0.42rem;
}

.label.label-square {
  border-radius: 0;
}

.label.label-dot {
  display: inline-block;
  font-size: 0 !important;
  vertical-align: middle;
  text-align: center;
}

.label.label-inline {
  width: auto;
}

.label.label-dot {
  line-height: 6px;
  min-height: 6px;
  min-width: 6px;
  height: 6px;
  width: 6px;
}

.label.label-sm {
  height: 16px;
  width: 16px;
  font-size: 0.75rem;
}

.label.label-sm.label-inline {
  width: auto;
}

.label.label-sm.label-dot {
  line-height: 4px;
  min-height: 4px;
  min-width: 4px;
  height: 4px;
  width: 4px;
}

.label.label-lg {
  height: 24px;
  width: 24px;
  font-size: 0.9rem;
}

.label.label-lg.label-inline {
  width: auto;
}

.label.label-lg.label-dot {
  line-height: 8px;
  min-height: 8px;
  min-width: 8px;
  height: 8px;
  width: 8px;
}

.label.label-xl {
  height: 28px;
  width: 28px;
  font-size: 1rem;

  &.label-inline {
    width: auto;
  }
  &.label-dot {
    line-height: 10px;
    min-height: 10px;
    min-width: 10px;
    height: 10px;
    width: 10px;
  }
}
